.cursor {
  position: fixed;
  z-index: 300;
  pointer-events: none;
  height: 44px;
  width: 44px;
  top: 0;
  left: 0;
  &__circle {
    circle {
      stroke: white;
      stroke-width: 1px;
      fill: transparent;
      stroke-dasharray: 500px;
      stroke-dashoffset: 500px;
      -webkit-transition: stroke .4s ease;
      -moz-transition: stroke .4s ease;
      -o-transition: stroke .4s ease;
      transition: stroke .4s ease;
    }
  }
  &__dot {
    position: absolute;
    top: 52%;
    left: 52%;
    transform: translate(-50%, -50%);
    circle {
      fill: white;
      -webkit-transition: fill .4s ease;
      -moz-transition: fill .4s ease;
      -o-transition: fill .4s ease;
      transition: fill .4s ease;
    }
  }
  &.black {
    .cursor {
      &__circle {
        circle {
          stroke: black;
        }
      }
      &__dot {
        circle {
          fill: black;
        }
      }
    }
  }
}
