@font-face {
  font-family: 'Silk';
  src: url('fonts/SilkSerifBold.woff2') format('woff2'),
}

@font-face {
  font-family: 'Moderat';
  src: url('fonts/Moderat-Extended-Thin.woff2') format('woff2'),
}